:root {
    --primary-color: #055a05;
    --accent1-color: #243c9b;
    --accent2-color: #27601a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    
}
.join-us {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   max-width: 840px;
   place-items: center;
   background-color: rgb(95, 151, 200);
}
.join-us p{
    color: #222222;
       
}
.join-us a {
  

}
section{
    background-color: rgb(210, 202, 202);
    padding: 5px;
    border-width: 3px;
    box-shadow: #000;
    border-color: black;
}

.enjoy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    align-items: center;

}
.enjoy h2{
    grid-column: 1/3;
    grid-row: 1/2;
    
}
.enjoy img{
    width: 300px;
    height: auto;
    justify-self: center;
}
.enjoy figcaption{
    text-align: center;
    color: var(--primary-color);
}
.enjoy div{
    display: grid;
}
header, footer{
    border: 4px solid rgb(0 0 0 / 10%);
    border-color: #000;
    
    box-shadow: #222222;
    background-color: aqua;
}
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
article {
    margin: 16px;
    max-width: 840px;
  
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    max-width: 840px;
    padding: 10px;

}

header img {
    max-width: 175px;
    height: auto;
    margin: 0 50px;
}

.navigation {
    display: flex;
    list-style: none;

}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: #edeaea;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero article {
    position: absolute;
    left: -16px;
    bottom: 0;
    width: 100%;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero h2 {
    color: #fff;
}

.hero article img {
    position: absolute;
    float: right;
    bottom: 20px;
    right: 50px;
    width: 120px;
    height: auto;
}

h2 {
    color: Black;
    text-align: center;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 840px;

}

.info article {
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}

.info iframe {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 420px;
    height: 450px;
    padding: 5px;
    /* border: none; */
    margin: 10px;
    
}

.info form {

    grid-column: 2/3;
    grid-row: 2/3;
    width: 420px;
    height: 450px;

}
.newsletter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
   
}
.newsletter .box:nth-child(3) {
    grid-column: 1 / -1;
    text-align: center;
   
}
.box {
    margin: 1rem;
    padding: .5rem;
}

.checkbox {
    display: flex;
    align-items: center;

    gap: .5rem;
}

.message textarea {
    display: block;
    width: 350px;
    height: 80px;

}

.checkbox input[type="checkbox"] {
    width: auto;
}

.form {
    border: none;
}

.radios {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.radios label {
    flex: 0 0 150px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.radio-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.radio-item input[type="radio"] {
    width: auto;
}

input,
textarea,
select,
button {
    padding: .5rem;
    width: 300px;
}

button {
    background-color: gray;
    color: black;
    margin: 0 auto;
    display: block;
    border-radius: .5rem;
    border: 1px solid rgb(0 0 0 / 10%);
    box-shadow: 0 0 15px #eee;
}

.history p {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history img {
    max-width: 250px;
}

.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 840px;

}
h5{
    font-size: xx-large;
    width: 840px;
    text-align: center;
    padding: 15px;
}
.adventure img {
    grid-row: 1/2;
    max-width: 120px;
    height: auto;
}

.adventure figure {
    border: thin silver solid;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

.adventure figcaption {
    grid-row: 2/3;
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.employees {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 840px;
   

}

.employees img {
    max-height: 120px;
    width: auto;
}

.employees figure {
    border: thin silver solid;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}

.employees figcaption {
    grid-row: 2/3;
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
}

.socialmedia img {
    max-width: 50px;
    /* padding: 3px; */
}

.socialmedia a {
    text-decoration: none;
}

table {
    width: 840px;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: #000;
}
th{
    background-color: aqua;
    font-size: larger;
}
th,
td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    text-align: center;

}

thead th,
tfoot tr {
    background-color: #000;
    color: #fff;
    font-weight: 700;
}
.beginners img{
    width: 840px;
}
.trips-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.trips-section h3,
.trips-section h4{
    text-align: center;
}
.trips-section img {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;

}