:root {
    --primary-color: #055a05;
    --accent1-color: #243c9b;
    --accent2-color: #27601a;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
article {
    margin: 16px;
    padding: 8px;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
}
header img{
    max-width: 175px;
    height: auto;
    margin:  0 50px ;
}
.navigation {
    display: flex;
    list-style: none;

}
.navigation li{
    flex: 1 1 auto;
}
.navigation a {
    display: block;
    color: navy;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}
.socialmedia {
    display: flex;
    justify-content: flex-end;
}
.socialmedia img {
    max-width: 50px;
    padding: 3px;
}
.socialmedia a {
    text-decoration: none;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article {
    position: absolute;
    left: -16px;
    bottom: 0;
    width: 100%;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero h2 {
    color: #fff;
}

.hero article img {
    position: absolute;
    float: right;
    bottom: 20px;
    right: 50px;
    width: 120px;
    height: auto;
}
h2{
    color: Black;
    text-align: center;
}

.history p {
    display: grid;
    grid-template-columns: 280px 280px 280px;
}
.history img {
    max-width: 250px;
}
.adventure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 840px;
    
}
.adventure img {
    grid-row: 1/2;
    max-width: 120px;
    height: auto;
}
.adventure figure {
    border: thin silver solid;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}


.adventure figcaption {
    grid-row: 2/3;
    background-color: #222222;
    color: white;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}