:root {
    --primary-color: #055a05; 
    --accent1-color: #243c9b; 
    --accent2-color: #27601a; 
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--body-font);
    color: var(--accent1-color)
}

header, main, footer{
    width: 840px;
    margin: 0 auto;
}

h1, h2{
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article{
    margin: 16px;
    padding: 8px; 
}

.socialmedia a {
    text-decoration: none;
}
.hero img{
    width: 100%;
    height: auto;
}
.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent2-color);
    color: #fff;
}

.hero article {
    position: absolute;
    left: -16px;
    bottom: 0;
    width: 100%;
    text-align: left;
    opacity: 0.9;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero h2{
    color: #fff;
}

.hero article img{
    position: absolute;
    float: right;
    bottom: 20px;
    right: 50px;    
    width: 120px;
    height: auto;
}
