* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --background-color: solid green;
    --padding: 1rem;
    --text-color: white;
}

/* main {
    
} */

main img {
    width: 150px;
    height: auto;

    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem
}

nav {
    background-color: var(--background-color);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--bacground-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

h1 {
    color: var(--background-color);
    border-bottom: 5px;
}

aside {
    padding: var(--padding);
    text-align: center;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    top: 50px;
    left: 95px;

}

aside {

    margin: 1rem;
    border: 2px solid green;
    padding: 2rem;
    background-color: blue;

    text-align: center;

}

main img {
    width: 150px;
    height: auto;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    text-align: center;
}

p {
    padding: 0px;
}

footer {
    margin-top: 3px;
    border-top: 2px black;
    text-align: center;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    text-align: center;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}

p {
    padding: var(--padding);
}

footer {
    margin-top: 3px;
    border-top: 2px black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(o, o, o, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.grid {
    max-width: 840px;
    margin: 0 auto;
    display: grid;
    align-items: center;
}

.grid main {
    grid-column: 2/3;
    margin: 1rem;
}

.grid aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

header,
footer {
    max-width: 840px;
    margin: 0 auto;
}