:root {
    --background-color: solid green;
    --padding: 1rem;
    --text-color: white;
}
main {
    max-width: 840px;
}
main img{
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
}
nav {
    background-color: var(--background-color);
    display: block;
    padding: 10px;
}

nav a {
    color: var(--bacground-color);
    display: block;
    padding: var(--padding);
}

h1{
    color: var(--background-color);
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 2px solid green;
    padding:  var(--padding);
    background-color: var(--background-color);
    color: var(--bacground-colorr);
    text-align: center;
    

}
aside img {
    width: 200px;
    height: auto;

}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    text-align: center;
}

p {
    padding: var(--padding);
}
footer {
    margin-top: 3px;
    border-top: 2px black;
    text-align: center;
}